@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --main-color: hotpink;
    --background-color:#D33232;

    --color-facebook: #1877F2;
    --color-apple: #000000;
    --color-gmail: #F0B501;

    --color-secundary: #041522;

    --color-text: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);

}

.flash-screan {
    display: flex;
    justify-content: center;
    align-items: center;
}