@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --background-scream:#D33232;
    --background-dark: #020A10;

    --color-facebook: #1877F2;
    --color-apple: #000000;
    --color-gmail: #F0B501;

    --color-secundary: #041522;

    --color-text: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--background-dark);
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

